In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bathsheba,BB,2022-01-26 20:36:13,13.2167,-59.5167,81.21,69,75,16.11
1,1,Yar-Sale,RU,2022-01-26 20:33:13,66.8333,70.8333,3.76,95,97,12.03
2,2,Saint-Alexandre,FR,2022-01-26 20:36:14,44.2278,4.6214,43.79,52,0,11.23
3,3,Castro,BR,2022-01-26 20:36:15,-24.7911,-50.0119,80.04,65,41,6.93
4,4,Boguchany,RU,2022-01-26 20:32:17,58.3814,97.4531,-11.40,100,98,2.30

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bathsheba,BB,2022-01-26 20:36:13,13.2167,-59.5167,81.21,69,75,16.11
3,3,Castro,BR,2022-01-26 20:36:15,-24.7911,-50.0119,80.04,65,41,6.93
6,6,Alice Springs,AU,2022-01-26 20:31:20,-23.7000,133.8833,76.55,83,40,0.00
7,7,Vaini,TO,2022-01-26 20:36:15,-21.2000,-175.2000,82.56,83,20,3.44
10,10,Kendari,ID,2022-01-26 20:36:16,-3.9450,122.4989,75.02,91,85,2.55
17,17,Rikitea,PF,2022-01-26 20:36:19,-23.1203,-134.9692,78.28,78,8,19.13
18,18,Tapes,BR,2022-01-26 20:35:48,-30.6733,-51.3958,76.75,90,98,13.20
23,23,Sao Luis De Montes Belos,BR,2022-01-26 20:36:21,-16.5250,-50.3722,75.67,85,85,5.10
30,30,Kavieng,PG,2022-01-26 20:36:23,-2.5744,150.7967,82.81,77,82,7.65
48,48,Mabaruma,GY,2022-01-26 20:37:28,8.2000,-59.7833,78.73,66,91,5.19

In [22]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0                  Bathsheba      BB     81.21  13.2167  -59.5167
3                     Castro      BR     80.04 -24.7911  -50.0119
6              Alice Springs      AU     76.55 -23.7000  133.8833
7                      Vaini      TO     82.56 -21.2000 -175.2000
10                   Kendari      ID     75.02  -3.9450  122.4989
17                   Rikitea      PF     78.28 -23.1203 -134.9692
18                     Tapes      BR     76.75 -30.6733  -51.3958
23  Sao Luis De Montes Belos      BR     75.67 -16.5250  -50.3722
30                   Kavieng      PG     82.81  -2.5744  150.7967
48                  Mabaruma      GY     78.73   8.2000  -59.7833

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
3,Castro,BR,80.04,-24.7911,-50.0119,CHACARA BAILLY
6,Alice Springs,AU,76.55,-23.7000,133.8833,Desert Palms Alice Springs
7,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
10,Kendari,ID,75.02,-3.9450,122.4989,Hotel Wixel
17,Rikitea,PF,78.28,-23.1203,-134.9692,People ThankYou
18,Tapes,BR,76.75,-30.6733,-51.3958,Cabanas Camping Union
23,Sao Luis De Montes Belos,BR,75.67,-16.5250,-50.3722,Hotel Farol
30,Kavieng,PG,82.81,-2.5744,150.7967,Nusa Island Retreat
48,Mabaruma,GY,78.73,8.2000,-59.7833,Monty Brooms Guest House

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]